<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.footoo.cjflsq.neck"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name = ".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	
	<receiver
	    android:name = ".WakeUpBroadcastReceiver">
	    <intent-filter>
	        <action android:name="android.intent.action.USER_PRESENT" />
	    </intent-filter>
	</receiver>

	<service
	    android:name=".TimeService">
	</service>

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>   
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>   
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
</manifest>